/* GLOBAL */
:root {
    --dark-blue-color: #295B7A;
    --mid-blue-color: #C9EBFF;
    --light-blue-color: #E7F6FF;
    --branding-color: #38B6FF;
    --dark-branding-color: #0F7EBE;
    --default-font-family: 'Readex Pro', sans-serif;
    --header-font-size: 48px;
    --sub-font-size: 36px;
    --sub2-font-size: 22px;
    --body-font-size: 16px;
    --default-margin: 10%;
}

body {
    color: var(--dark-blue-color);
    font-family: var(--default-font-family);
    text-align: center;
    margin: 0;
    padding: 0;
    font-size: var(--body-font-size);
}

h1 {
    font-size: var(--header-font-size);
    padding:0;
    margin:0;
}

h6 {
    font-size: var(--title-font-size);
    padding:0;
    margin:0;
}

.h1_colored {
    color: var(--branding-color);
}

h2 {
    font-size: var(--sub-font-size);
    padding:0;
    margin:0;
    font-weight:600;
}

h3 {
    font-size: var(--sub2-font-size);
    padding:0;
    margin:0;
    font-weight:500;
}

/* ------------------------------------------------------------------------ */
/* home */
.slideshow-img {
    width: 100%;
    height:auto;
    transition: opacity 0.3s ease-in-out;
    opacity:0;
}

.slideshow-button {
    border:none;
    background: none;
    cursor:pointer;
}

.fade-in {
    opacity:1;
}

.grid-container1 {
    margin: 0 5% 0 5%;
    display: grid;
    grid-template-columns: 40% 50%;
    grid-gap: 10%;
    place-items: center;
}

.grid-container1 div:first-child {
    display:flex;
    text-align: left;
    flex-direction: column;
}

.grid-container1 div:first-child > div:nth-child(2) {
    font-size: var(--sub2-font-size);
    margin-top:30px;
    margin-bottom:20px;
}

.grid-container2 {
    margin: 0 var(--default-margin) 0 var(--default-margin);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    place-items: center;
}

.counter {
    font-size: var(--header-font-size);
    font-weight:bold;
}


.home-testimonials {
    margin: 0 var(--default-margin) 0 var(--default-margin);
    line-height: 1.8;
}

.home-testimonials div > div:nth-child(2) {
    text-align: right;
    font-size:14px;
    padding-left:30%;
    margin-top:5px;
}

.home-testimonials > div {
    text-align: left;
    margin:15px 0 15px 0 ;
}


.home-mission {
    margin: 0 var(--default-margin) 0 var(--default-margin);
}

.home-mission > div {
    font-size: 14px;
    margin-bottom:20px;
}

.home-mission > ol {
    text-align: left;
    line-height: 1.5; 
}

.home-mission > ol > li {
    margin:5px;
}

.feature-img img {
    width: 90%;
    margin-top:20px;
    transition: border-radius 0.4s ease;
    border-radius:5px;
}
.small-feature {
    display:none;
}
.feature-img img:hover {
    border-radius:20px;
}
/* ------------------------------------------------------------------------ */

/* navbar */
.navbar {
    backdrop-filter: blur(10px);
    position: fixed;
    width: 88%;
    padding-left: 6%;
    padding-right: 6%;
    height: 70px;
    top:0;
    left:0;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    background-color: white;
    z-index: 1000;
}

.mobile-navbar {
    display:none;
}

.mobile-bar {
    width: 88%;
    padding-left: 6%;
    padding-right: 6%;
    margin-top:30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sidebar {
    padding:5%;
    display:flex;
    flex-direction: column;
    text-align: left;
    position: fixed;
    top: 0;
    left: -100%; 
    width: 90%;
    height: 100%;
    background-color: white;
    transition: left 0.3s ease; 
    overflow-y: auto; 
    z-index:1000;
  }

  .sidebar-button {
    z-index:1001;
    height:fit-content;
    text-decoration: none;
    background:none;
    border:none;
  }

  .sidebar-button img {
    width:20px;
  }
  
  .sidebar.open {
    left: 0; 
  }

.navbar-mobile-link {
    text-decoration: none;
    color: var(--dark-blue-color);
    font-family: var(--default-font-family);
    padding:0.5rem 0.75rem 0.5rem 0.75rem;
    margin-left:0.5rem;
    font-size: 26px;
    transition: background-color 0.3s ease, border-radius 0.3s ease;
    width:fit-content;
}

.navbar-mobile-link.active {
    background-color: var(--mid-blue-color);
    border-radius:1.5em;
}

.navbar-child {
    padding:1rem;
    align-items: center;
    display: flex;
    align-items: center;
}

.navbar-link {
    text-decoration: none;
    color: var(--dark-blue-color);
    font-family: var(--default-font-family);
    padding:0.5rem 0.75rem 0.5rem 0.75rem;
    margin-left:0.5rem;
    font-size: 15px;
    transition: background-color 0.3s ease, border-radius 0.3s ease;
}

.navbar-title {
    text-decoration: none;
    color: var(--dark-branding-color);
    font-family: var(--default-font-family);
    font-weight:bold;
    font-size: 17px;
    display: flex;
    align-items: center;
}

.small-title {
    display:none;
}

.navbar-link.active {
    background-color: var(--mid-blue-color);
    border-radius:1.5em;
}

.navbar-link:not(.active):hover {
    background-color: var(--light-blue-color);
    border-radius:1.5em;
}

.navbar-padding {
    margin:70px;
}


/* socials */
.socials-title {
    margin: 15px 0 30px 0;
}

.socials-link {
    padding:10px;
    height:40px;
    border-radius:15px;
    margin-top:30px;
    transition: all 0.4s ease;
}

.socials-link:hover {
    border-radius:25px;
}


/* footer */
.footer {
    margin:10px;
    font-size:12px;
}

/* ------------------------------------------------------------------------ */

/* color wrapped */

.wrapped.blue-wrapped {
    background-color: var(--light-blue-color);
}

.wrapped {
    padding: 50px;
    transform: translateY(10px);
    transition: all 0.5s ease-in-out;
    opacity: 0;
}


.wrapped.active {
    opacity: 1;
    transform: translateY(0);
}



/* ------------------------------------------------------------------------ */

/* button */

.default-button {
    line-height:1.2;
    margin-top:20px;
    color: white;
    border-radius:2em;
    background-color: var(--branding-color);
    font-family: var(--default-font-family);
    padding:12px 25px 12px 25px;
    border: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    cursor:pointer;
    transition: background-color 0.5s ease;
    font-size:var(--body-font-size);
    text-decoration: none;
    max-width: fit-content;
}

.default-button:hover {
    background-color: var(--dark-branding-color);
}


/* ------------------------------------------------------------------------ */

/* about us */

.aboutus-mission {
    display:grid;
    margin: 0 var(--default-margin) 0 var(--default-margin);
    grid-template-columns: 30% 55%;
    align-items:center;
    gap: 10%;
    text-align: left;
}

.aboutus-mission div {
    font-size: var(--sub2-font-size);
    text-align: left;
    letter-spacing: 0.5px;
    line-height: 1.8;
}

.aboutus-story {
    display:grid;
    margin: 0 var(--default-margin) 0 var(--default-margin);
    text-align: left;
    line-height: 1.8;
}

.aboutus-story div {
    margin:10px;
}

.aboutus-story h2 {
    text-align:center;
}

.aboutus-story div:nth-child(2) {
    font-style: italic;
}

.aboutus-imgs img {
    width:30%;
    aspect-ratio: 1/1;
    margin:1%;
    border-radius: 10px;
}

.aboutus-yearbooks {
    margin: 0 var(--default-margin) 0 var(--default-margin);
}

.aboutus-yearbooks h2 {
    margin:20px;
}

.aboutus-yearbooks iframe {
    margin:20px;
    width:40%;
    aspect-ratio: 3 / 2;
    border: none;
}


/* ------------------------------------------------------------------------ */

/* our partners */
.partner-imgs {
    display:flex;
    align-items: center;
    justify-content: center;
}

.partner-imgs img {
    max-width: 300px;
    max-height: 125px;
    width: auto; 
    height: auto;
    margin:15px;
}

.partner-message {
    margin: 0 var(--default-margin) 0 var(--default-margin);
    text-align: left;
    line-height: 1.5;
    display:flex;
    flex-direction: column;
}

.partner-message div {
    margin-top:10px;
}

.partner-message div > a {
    color:var(--dark-blue-color);
}

/* ------------------------------------------------------------------------ */
/* get involved */

.involved-steps {
    margin: 0 var(--default-margin) 0 var(--default-margin);
    line-height: 1.5;
}

.involved-steps ol, ul {
    text-align: left;
}

.involved-steps li {
    margin-top:10px;
}

.involved-steps iframe {
    border: none;
    height:800px;
    width:100%;
}


/* ------------------------------------------------------------------------ */
/* donate */

.donate {
    margin:0 var(--default-margin) 0 var(--default-margin);
    display:flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    line-height:2;
}

.donate h2 {
    line-height:1.2;
    margin-bottom:10px;
}

.donate div {
    text-align:left;
}

.donate-iframe {
    border: none;
    height: 1370px;
    width:80%;
}

/* ------------------------------------------------------------------------ */

/* connect w us */
.connect-message {
    margin: 0 var(--default-margin) 0 var(--default-margin);
    line-height: 1.8;
    display:flex;
    flex-direction: column;
}

.connect-message div {
    text-align: left;
}

.connect-message div > a {
    color:var(--dark-blue-color);
}

.faq {
    margin: 0 20% 0 20%;
}

.faq h2 {
    margin-bottom:10px;
}

.accordion-question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align:left;
    cursor:pointer;
    padding: 20px;
    background-color: white;
    transition: background-color 0.3s ease, border-bottom 0.3s ease;
    border-bottom:0.5px solid var(--dark-blue-color);
  }
  
  .accordion-item.active .accordion-question {
    background-color: var(--light-blue-color);
    border-bottom: none;
  }
  
  .accordion-answer-container {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out, opacity 0.2s ease-in-out;
  }
  
  .accordion-item.active .accordion-answer-container {
    max-height: 100%;
    opacity: 1;
  }
  
  .accordion-answer {
    text-align: left;
    padding:10px 25px 10px 15px;
    margin:15px;
    margin-left:25px;
    border-left:0.5px solid var(--dark-blue-color);
  }


/* ------------------------------------------------------------------------ */

/* font rules*/
@font-face {
    font-family: 'Readex Pro';
    src: url('../fonts/ReadexPro-Bold.ttf') format('truetype'); 
    font-weight: bold;
  }
  
  @font-face {
    font-family: 'Readex Pro';
    src: url('../fonts/ReadexPro-ExtraLight.ttf') format('truetype'); 
    font-weight: 200; 
  }
  
  @font-face {
    font-family: 'Readex Pro';
    src: url('../fonts/ReadexPro-Light.ttf') format('truetype'); 
    font-weight: 300;
  }
  
  @font-face {
    font-family: 'Readex Pro';
    src: url('../fonts/ReadexPro-Medium.ttf') format('truetype');
    font-weight: 500;
  }
  
  @font-face {
    font-family: 'Readex Pro';
    src: url('../fonts/ReadexPro-Regular.ttf') format('truetype');
    font-weight: normal;
  }
  
  @font-face {
    font-family: 'Readex Pro';
    src: url('../fonts/ReadexPro-SemiBold.ttf') format('truetype');
    font-weight: 600; 
  }


/* media sizes */

@media (max-width: 1120px) {
    :root {
        --header-font-size: 38px;
        --sub-font-size: 28px;
    }

    .large-title {
        display:none;
    }

    .small-title {
        display:flex;
    }

    .navbar-link {
        font-size:13px;
    }
}

@media (max-width: 875px) {
    .large-feature {
        display:none;
    }

    .small-feature {
        display:block;
    }

    .grid-container1 {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    .grid-container1 div:first-child > div:nth-child(2) {
        display:none;
    }

    .navbar-link {
        font-size:12px;
    }
}

@media (max-width: 750px) {
    :root {
        --sub2-font-size: 18px;
        --body-font-size: 15px;
        --default-margin:0%;
    }

    .navbar {
      display: none;
    }

    .mobile-navbar {
        display:block;
    }
    .navbar-padding {
        margin:0;
    }

    .grid-container1 {
        margin: 0;
    }
    .faq {
        margin: 0 5% 0 5%;
    }
    .partner-imgs img {
        max-width: 125px;
        max-height: 70px;
        width: auto; 
        height: auto;
        margin:0;
        margin-top:10px;
    }

    .aboutus-mission {
        display:flex;
        flex-direction: column;
    }
    .aboutus-mission div {
        margin-top:10px;
        text-align:center;
    }

    .aboutus-yearbooks iframe {
        margin:10px;
        width:90%;
        aspect-ratio: 3 / 2;
        border: none;
    }
    .wrapped {
        padding:30px;
    }

    .home-testimonials div > div:nth-child(2) {
        text-align: right;
        font-size:12px;
        line-height:1.2;
    }

  }

@media (max-width: 300px) {
  .default-button {
    font-size:10px;
    }
}   